@import './base.css';
/* @media (min-width: 280px) {} */
/* @media (min-width: 768px) {} */
/* @media (min-width: 1024px) {} */



@media (min-width: 280px) {
  #app {
    min-width: 280px;
      margin: 0 auto;
      /* padding: 0.2rem; */
      /* padding: 0 2rem; */
      font-weight: normal;
    }
  
    a,
    .green {
      text-decoration: none;
      transition: 0.4s;
    }
  
    @media (hover: hover) {
      a:hover {
          background-color: rgb(255, 252, 241 0.2);
      }
    }
  
    body {
      /* display: flex; */
      place-items: center;
    }
}
@media (min-width: 768px) {}
@media (min-width: 1024px) {
#app {
    max-width: 1920px;
    margin: 0 auto;
    /* padding: 0.5rem; */
    /* padding: 0 2rem; */
    font-weight: normal;
  }

  a,
  .green {
    text-decoration: none;
    transition: 0.4s;
  }

  @media (hover: hover) {
    a:hover {
      /* background-color: rgb(20, 157, 216, 0.2); */
        border-radius: 16px;
    }
  }
    body {
      /* display: flex; */
      place-items: center;
    }  
}


